body {
  font-family: system-ui, sans-serif;
  background: #f5f5f5;
}
* {
  box-sizing: border-box;
  margin: 0;
}
.app {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 100vh;
}


ul {
  padding: 1rem;
  border: 1px solid black;
  overflow-y: scroll;
  min-width: 15rem;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}

