body {
  font-family: system-ui, sans-serif;
  background: #f5f5f5;
}

.app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  border: 1px solid red;
}


.cursor {
  cursor: pointer;
}

.row {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid pink;
}


.cross {
  border: 1px solid black;
  padding: 0 6px;
  cursor: pointer;
  margin-left: 4px;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-underline-offset: 6px;
  text-decoration: underline;
}

.card {
  border: 1px solid grey;
  padding: 8px;
  border-radius: 6px;
  margin: 4px;
}

.card_wrapper {
  border: 1px dotted grey;
  padding: 12px;
  border-radius: 6px;
  margin: 4px;
  margin-bottom: 0.9rem;
}

.add_card {
  margin-bottom: 1rem;
}

input {
  padding: 6px;
  border-radius: 6px;
  height: 1.5rem;
  width: 100%;
  border: none;
  outline: none;
}

button {
  margin-left: 6px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;

  padding-top: 3px;
  padding-bottom: 3px;
}

