body {
  font-family: system-ui, sans-serif;
  background: #f5f5f5;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  padding: 24px;
  border: 1px solid black;
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.tasks_container {
  /* border: 1px solid red; */
}

.task {
  border: 1px solid green;
  padding: 10px;
  margin-bottom: 6px;
}

.action_btns {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.action_btns .active {
  background-color: green;
  color: white;
  border: 1px solid green;
}


button {
  padding: 8px 20px;
  font-size: 1rem;
  cursor: pointer;
}

input {
  padding: 10px;
  height: 18px;
}
