body {
  font-family: system-ui, sans-serif;
  background: #f5f5f5;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.indent {
  margin-left: 1rem;
  border-left: 1px solid #7e7b7b;
  padding: 12px;
}
.cursor {
  cursor: pointer;
}

.row {
  display: flex;
}
.fileNode {
  margin-top: .5rem;
}

.cross {
  border: 1px solid black;
  padding: 0 6px;
  cursor: pointer;
  margin-left: 4px;
}

button {
  margin-left: 6px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;

  padding-top: 3px;
  padding-bottom: 3px;
}

