body {
  font-family: system-ui, sans-serif;
  background: #f5f5f5;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.indent {
  margin-left: 1rem;
  border-left: 1px solid #7e7b7b;
  padding: 12px;
}
.cursor {
  cursor: pointer;
}

