body {
  font-family: system-ui, sans-serif;
  background: #f5f5f5;
}
* {
  box-sizing: border-box;
  margin: 0;
}
.app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}



button {
  cursor: pointer;
}
