body {
  font-family: system-ui, sans-serif;
  background: #f5f5f5;
}
* {
  box-sizing: border-box;
  margin: 0;
}
.app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.arrow {
  transition: 0.3s ease-in;
}

.animate_up {
  transform: rotate(180deg);
}

.animate_down {
  transform: rotate(0deg);
}

.trigger {
  text-align: start;
}

.dropdown {
  border: 1px solid gray;
  width: 200px;
}

button {
  cursor: pointer;
  /* border: 1px solid grey; */
  border: none;
  /* outline: none; */
  width: 100%;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  background: white;
}

li {
  cursor: pointer;
  padding: 1rem 1rem 1rem 0.5rem;
}

li.active {
  background-color: aqua;
}
li:hover {
  background-color: #e6f2ff;
}
