body {
  font-family: system-ui, sans-serif;
  background: #f5f5f5;
}
* {
  box-sizing: border-box;
  margin: 0;
}
.app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.dropdown {
  border: 1px solid gray;
  width: 300px;
}

.inp_search {
  all: unset;
  padding: 10px;
  width: 100%;
  padding-left: 0;
}

.chips {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  padding:4px;
}
.chip {
  border: 1px solid black;
  padding: 4px;
}

button {
  border: none;
  cursor: pointer;
  padding: 10px;
}

ul {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

li {
  list-style: none;
  cursor: pointer;
  padding: 10px;
}

li.sv {
  background-color: lightgreen;
}
