body {
  font-family: system-ui, sans-serif;
  background: #f5f5f5;
}
* {
  box-sizing: border-box;
  margin: 0;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
}

.toast_container {
  border: 1px solid red;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

button {
  all: unset;
}

.add_toast {
  all: unset;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.toast {
  border: 1px solid black;
  padding: 10px;
}

.cross {
  border-radius: 50%;
  border: 1px solid grey;
  padding: 5px;
  cursor: pointer;
}


