body {
  font-family: system-ui, sans-serif;
  background: #f5f5f5;
}
* {
  box-sizing: border-box;
  margin: 0;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.toast_container {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.toast_container.top_left {
  left: 0;
  right: unset;
}

.toast_container.bottom_left {
  left: 0;
  bottom: 0;
}

.toast_container.bottom_right {
  bottom: 0;
}

button {
  all: unset;
}

.add_toast {
  all: unset;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

button:focus-visible {
  outline: 1px solid blue;
  outline-offset: 1px;
}

/* initial state before mount */
.toast_container .toast {
  /* opacity: 0; */
  transform: translateX(0px);
}

.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0.5rem;
  border: 1px solid black;
  padding: 5px 10px;
  min-width: 7rem;
  opacity: 0;
  transform: translateX(50px);

  /* base animation */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.toast.enter {
  opacity: 1;
  transform: translateX(-50px);
}

.toast.leave {
  transform: translateX(120px);
}

.toast.success {
  background-color: green;
  color: whitesmoke;
}

.toast.error {
  background-color: tomato;
  color: whitesmoke;
}

.toast.warn {
  background-color: lightyellow;
  color: black;
}

.toast time {
  color: black;
  font-size: 1.3rem;
}

.cross {
  border-radius: 50%;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
}
